.form-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-guardar {
    width: 100%;
    background: #00897b;
    color: white;
    padding: 12px;
    border-radius: 14px;
    margin-top: 20px;
    font-weight: bold;
    border: none;
}

.btn-guardar:hover {
    background: #00695c;
}

.titulo-semana {
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
}

.card-dia {
    margin-bottom: 12px;
    border-radius: 14px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
}

ion-card-title {
    font-size: 20px;
    font-weight: bold;
    color: #00796b;
}

.fila-comida {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
}

ion-icon {
    font-size: 22px;
    color: #00796b;
}