.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    padding: 20px;
}

.imgLogo {
    width: 35%;
    max-width: 180px;
    border-radius: 90px;
    margin-bottom: 5px;
}

.formulario {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-redondo {
    width: 100%;
    padding: 14px 18px;
    border-radius: 12px;
    border: none;
    background: #ffffff;
    font-size: 16px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.btn-login {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background-color: #07615c;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
}

.btn-login:hover {
    background-color: #278481;
}

.titulo {
    margin-bottom: 40px;
}

.mensaje-error {
    color: #d9534f;
    background: #f8d7da;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f5c6cb;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    transition: all 0.3s ease;
}