.completado {
    text-decoration: line-through;
    color: gray;
}

.btn-login {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background-color: #07615c;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
}